/* Final Space Background */
#final-space-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
  background-color: #000000; /* Black */
}

@keyframes moveRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100vw);
  }
}

.particle {
  position: absolute;
  border-radius: 50%;
  background: #00ffff; /* Cyan */
  opacity: 0.8;
  box-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff;
  animation-name: moveRight;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  left: -200px; /* Start off-screen to the left */
}

/* Generate particles with different sizes, positions, and animation speeds */
.particle:nth-child(1) { width: 2px; height: 2px; top: 10%; animation-duration: 15s; animation-delay: -3s; }
.particle:nth-child(2) { width: 3px; height: 3px; top: 25%; animation-duration: 18s; animation-delay: -10s; }
.particle:nth-child(3) { width: 2px; height: 2px; top: 40%; animation-duration: 12s; animation-delay: -5s; }
.particle:nth-child(4) { width: 4px; height: 4px; top: 55%; animation-duration: 22s; animation-delay: -1s; }
.particle:nth-child(5) { width: 2px; height: 2px; top: 70%; animation-duration: 17s; animation-delay: -12s; }
.particle:nth-child(6) { width: 3px; height: 3px; top: 85%; animation-duration: 19s; animation-delay: -7s; }
.particle:nth-child(7) { width: 2px; height: 2px; top: 5%; animation-duration: 25s; animation-delay: -15s; }
.particle:nth-child(8) { width: 4px; height: 4px; top: 95%; animation-duration: 14s; animation-delay: -2s; }
.particle:nth-child(9) { width: 2px; height: 2px; top: 15%; animation-duration: 20s; animation-delay: -8s; }
.particle:nth-child(10) { width: 3px; height: 3px; top: 30%; animation-duration: 16s; animation-delay: -4s; }
.particle:nth-child(11) { width: 2px; height: 2px; top: 45%; animation-duration: 21s; animation-delay: -11s; }
.particle:nth-child(12) { width: 4px; height: 4px; top: 60%; animation-duration: 13s; animation-delay: -6s; }
.particle:nth-child(13) { width: 2px; height: 2px; top: 75%; animation-duration: 23s; animation-delay: -14s; }
.particle:nth-child(14) { width: 3px; height: 3px; top: 90%; animation-duration: 16s; animation-delay: -9s; }
.particle:nth-child(15) { width: 4px; height: 4px; top: 20%; animation-duration: 18s; animation-delay: -13s; }
